<footer>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        108 University Avenue
                        <br />
                        Waterloo, ON N2J 2Z2
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About Team Alpha</h4>
                    <p class="lead mb-0">
                        Third Times the Charm is a web application to facilitate custom food recipe creation through multiple iterations. 
                        This application also keeps track of any changes in the recipe by the user which can be easily 
                        referenced and incorporated for the next version. For further details, email to:<br>
                        <a href="mailto:uthapamagar6208@conestogac.on.ca">Ujjwal Thapa Magar</a><br>
                        <a href="mailto:saerathuvinayak6201@conestogac.on.ca">Sethulekshmi Aerathu Vinayakumar</a><br>
                        <a href="mailto:syedidaharivenk2396@conestogac.on.ca">Sairam Ganesh, Yedida Harivenkata</a><br>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Team Alpha</small></div>
    </div>
</footer>

</html>