<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <script src="https://cdn.tiny.cloud/1/5z2ryi7i964t00u6yeppklh6qmg80f8jmd21hd1mfv1yvy8r/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#recipesteps',
        height: 400,
        menubar: false
      });
    </script>

    <title>Third Times the Charm!</title>
</head>
<header>
    <img src="/images/recipeLogo.png">
    <h1 class="title">Third Times the Charm!</h1>
</header>