<!-- <nav class="top_menu">
    <ul>
        <li><a href="/">View Recipes</a></li>
        <li><a href="/form">Add posts</a></li>
    </ul>
</nav> -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top">
    <div class="container">
        <img src="/images/recipeLogo.png" width="30px" height="30px">
        <a class="navbar-brand" href="/">3rd Times The Champ</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">View Recipes</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/form">Add Recipes</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/select">Add Version</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>