<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <section>
        <div>
           <p><%= message %></p> 
        </div>
    </section>
</body>
<%- include('layouts/footer'); -%>