<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <section>
        <div class="formData">
           <p class="deletemessage"><%= message %></p> 
        </div>
    </section>
</body>
<%- include('layouts/footer'); -%>